langchain
openai
langchain-openai
pinecone-client 
langchain_huggingface
fastapi
sentence-transformers
uvicorn
langchain_pinecone
python-dotenv
pydantic
tensorflow
numpy
opencv-python
tf-keras
python-multipart
moviepy
faster-whisper
imageio-ffmpeg